<p id="notice"><%= notice %></p>

<h1>Sendgrid Events</h1>

<%= form_tag(sendgrid_events_path, method: :get) do %>
  Email <%= text_field_tag :email, params[:email] %>
  Type <%= text_field_tag :event, params[:event] %>
  <%= submit_tag 'Search' %>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
      <th>Email</th>
      <th>Event</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @sendgrid_events.each do |sendgrid_event| %>
      <tr>
        <td><%= sendgrid_event.email %></td>
        <td><%= sendgrid_event.event %></td>
        <td><%= sendgrid_event.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
