<p id="notice"><%= notice %></p>

<h1>Sendgrid Events</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sendgrid_events.each do |sendgrid_event| %>
      <tr>
        <td><%= link_to 'Show', sendgrid_event %></td>
        <td><%= link_to 'Edit', edit_sendgrid_event_path(sendgrid_event) %></td>
        <td><%= link_to 'Destroy', sendgrid_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sendgrid Event', new_sendgrid_event_path %>
