<p id="notice"><%= notice %></p>

<h1>Sendgrid Events</h1>

<%= form_tag(sendgrid_events_path, method: :get) do %>
  <%= text_field_tag 'search[email]', params.dig(:search, :email), placeholder: 'Email' %>
  <%= text_field_tag 'search[event]', params.dig(:search, :event), placeholder: 'Event Type' %>
  <%= text_field_tag 'search[user_id]', params.dig(:search, :user_id), placeholder: 'User ID' %>

  <%= submit_tag 'Search', name: nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
      <th>Email</th>
      <th>Event</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @sendgrid_events.each do |sendgrid_event| %>
      <tr>
        <td><%= sendgrid_event.email %></td>
        <td><%= sendgrid_event.event %></td>
        <td><%= sendgrid_event.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
