<p id="notice"><%= notice %></p>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <label class="navbar-brand">Filter e-mails</label>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= form_tag(sendgrid_events_path, method: :get, class: 'form-row') do %>
      <div class='col'>
        <%= text_field_tag 'search[email]', params.dig(:search, :email), placeholder: 'Email', class: 'form-control' %>
      </div>
      <div class='col'>
        <%= text_field_tag 'search[event]', params.dig(:search, :event), placeholder: 'Event Type', class: 'form-control' %>
      </div>
      <div class='col'>
        <%= text_field_tag 'search[user_id]', params.dig(:search, :user_id), placeholder: 'User ID', class: 'form-control' %>
      </div>

      <div class='col'>
        <%= submit_tag 'Search', name: nil, class: 'btn btn-outline-success' %>

        <%= link_to 'Clear', root_path, class: 'btn btn-outline-secondary' %>
      </div>
    <% end %>
  </div>
</nav>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Event</th>
      <th scope="col">User ID</th>
    </tr>
  </thead>

  <tbody>
    <% @sendgrid_events.each do |sendgrid_event| %>
      <tr>
        <td><%= link_to sendgrid_event.email, sendgrid_event_path(sendgrid_event.id) %></td>
        <td><%= sendgrid_event.event %></td>
        <td><%= sendgrid_event.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sendgrid_events %>
